<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
<script type="text/javascript">
    // import commentBox from 'commentbox.io';
    // or
    // const commentBox = require('commentbox.io');
    // or if using the CDN, it will be available as a global "commentBox" variable.

    commentBox('5645599001018368-proj', {
        backgroundColor: '#333',
        textColor: '#eaeaea'
    });
    
    // commentBox('5748984098324480-proj');
    console.log(commentBox);
    
</script>

<hr>

<div class="commentbox"></div>


