/* ==========================================================================
   BASE ELEMENTS Overrides
   ========================================================================== */


h1 {
  margin-top: 0;
  font-size: $type-size-3;
  a {
          text-decoration: none;
  }
}
